* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: monospace;
}
body {
  background-color: white;
}
nav#navlinks {
  width:100%;
  height: 65px;
  background-color: #eee;
}
img#placeholderlogo {
  float: left;
  width: 10%;
  height: 65px;
}
ul#links {
float:right;
width:90%;
}

ul#links li {
list-style: none;
display: inline-block;
line-height: 65px;
}
ul#links li a {
text-decoration: none;
color: gray;
font-size: 14px;
font-family: monospace;
margin: 0 -4px;
padding: 0 5px 0 9px;
display: block;
}
}
ul#links li a:hover {
  color:navy;
  font-weight: bolder;

}
