* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: monospace;
  background-color: #25274D;
}
body {

}

div#topbar {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding:0;
}
div#bodytag, div#bodytag p, div#bodytag ul, div#bodytag li, div#bodytag br,  ul#links li a, div#bodytag h1, #row1, #row2, #row3, nav#navlinks, div.break, strong {
    background-color: #4e8fbd;
}
div.information p,div.information h1 {
  padding-left: 10px;
  padding-right: 10px;
}
div.information {
    display: inline-block;
    padding: 0px 0;
}
div#bodytag {
  height:100%;
  margin-left:15%;
  margin-right:15%;
  line-height: 32px;
}
nav#navlinks {
  width:100%;
  height: 65px;
  background-color: #62aee4;
}
img#placeholderlogo {
  float: left;
  width: 10%;
  height: 65px;
}
ul#links {
  float:right;
  width:90%;
}
ul#links li {
  list-style: none;
  display: inline-block;
  line-height: 65px;
}
ul#links li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: monospace;
  margin: 0 -4px;
  padding: 0 5px 0 9px;
  display: block;
  background-color: #62aee4;
}
ul#links li a:hover {
  color:#780a18;
  font-weight: bolder;
}
h1 {
  font-size: 18px;
  font-weight: 550;
}
.information {
padding: 12px;
}
.slider {
  display: inline-block;
  margin: 0 15% 0 0;
  height: 500px;
  width: 100%;
  background: url(images/1slide.jpg);
  animation: slide 20s infinite;
}
@keyframes slide{
  25%{
    background: url(images/2slide.jpg)
  }
  50%{
    background: url(images/3slide.jpg)
  }
  75%{
    background: url(images/4slide.jpg)
  }
  100%{
    background: url(images/1slide.jpg)
  }
}

<style>
  *, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}  
