div#whole {
  margin:-7px;
padding:10px;
border-bottom: 7px solid rgb(61 49 44);
}
body {
  background-color:rgb(117 127 73);
  font-family: "Garamond", serif;
  font-weight: 300;
  font-size:20px;
}
div#topbar {

}
header {
  background-color: rgb(167 187 172);
  padding:6px;
  margin:-7px;
  border-left: 4px solid rgb(219 242 225);
  border-right: 4px solid rgb(219 242 225);
  border-bottom: 4px solid rgb(219 242 225);
}
header::after {
  content: '';
  display: table;
  clear: both;
}
img#placeholderlogo {
height: 80px;
width: 250px;
margin:-6px;
float:left;
}
nav#topbarnav {
  float:right;
  width:98%
  margin-left:10px;
}
header nav ul {
  margin:0;
  padding:3px 300px 0 0;
  list-style: none;
}
header nav li {
  display: inline-block;
  margin:0px 70px 0px 100px;
  padding-top:20px;

  position: relative;
}

nav#topbarnav ul li a {
  color:#444;
  text-decoration:none;
  text-transform: uppercase;
  font-size:18px;
}
nav#topbarnav a:hover {
  color: #000;
}

nav#topbarnav a::before {
  content: '';
  display:block;
  background-color:rgb(61 49 44);
  height:5px;
  top: 0;
  width:0%;

  transition: all ease-in-out 250ms;
}

nav#topbarnav a:hover::before {
  width:100%;
}
